# =========================
# PYTHON
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# MODELS
# =========================
*.keras

# =========================
# DATASETS
# =========================
PlantVillage/
processed_dataset/
split_dataset/
_cross_class_review/

# =========================
# TRAINING OUTPUTS
# =========================
results/
results_finetune/
results_corn_special/
experiments/

# =========================
# NODE / EXPO
# =========================
node_modules/
.expo/
dist/
build/
web-build/
expo-env.d.ts

# =========================
# NATIVE
# =========================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# METRO
# =========================
.metro-health-check*

# =========================
# DEBUG
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db
*.pem

# =========================
# ENV
# =========================
.env*.local

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# GENERATED NATIVE FOLDERS
# =========================
/ios
/android

# =========================
# VSCODE
# =========================
.vscode/